<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.year.cmfz.dao.LogDao" >
  <resultMap id="BaseResultMap" type="com.year.cmfz.entity.Log" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="operate" property="operate" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, date, operate, result
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_log
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_log
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.year.cmfz.entity.Log" >
    insert into t_log (id, uid, date, 
      operate, result)
    values (#{id,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, 
      #{operate,jdbcType=VARCHAR}, #{result,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.year.cmfz.entity.Log" >
    insert into t_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="operate != null" >
        operate,
      </if>
      <if test="result != null" >
        result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="operate != null" >
        #{operate,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.year.cmfz.entity.Log" >
    update t_log
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="operate != null" >
        operate = #{operate,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.year.cmfz.entity.Log" >
    update t_log
    set uid = #{uid,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      operate = #{operate,jdbcType=VARCHAR},
      result = #{result,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="queryAll" resultMap="BaseResultMap">
    select * from t_log
  </select>
  <select id="queryByPage" resultMap="BaseResultMap" >
    select * from t_log order by date limit #{start},#{limit}
  </select>
</mapper>